In [5]:
import pandas as pd
from FindSolution import FindSolution
from Data import Data
from ClassScheduleDT import *

In [6]:
data = Data('./data/Room.csv', './data/MeetingTime.csv',
        './data/Instructor.csv', './data/Department.csv',
        './data/Course.csv')

# data = Data('./data2/Room.csv', './data2/MeetingTime.csv',
#         './data2/Instructor.csv', './data2/Department.csv',
#         './data2/Course.csv')

In [14]:
POPULATION_SIZE = 9
NUMBER_OF_ELITE_SCHEDULES = 1
TOURNAMENT_SELECTION_SIZE = 3
MUTATION_RATE = 0.1

find_solution = FindSolution(data,
                            POPULATION_SIZE, NUMBER_OF_ELITE_SCHEDULES,
                            TOURNAMENT_SELECTION_SIZE, MUTATION_RATE)

timetable = find_solution.getTimeTable()
generation = find_solution.getGeneration()

Generation: 1 Fitness: 0.25
Generation: 2 Fitness: 0.3333333333333333
Generation: 3 Fitness: 0.3333333333333333
Generation: 4 Fitness: 0.3333333333333333
Generation: 5 Fitness: 0.3333333333333333
Generation: 6 Fitness: 0.3333333333333333
Generation: 7 Fitness: 0.3333333333333333
Generation: 8 Fitness: 0.3333333333333333
Generation: 9 Fitness: 0.3333333333333333
Generation: 10 Fitness: 0.5
Generation: 11 Fitness: 0.5
Generation: 12 Fitness: 1.0

In [9]:
# department = []
# course = []
# instructor = []
# room = []
# day = []
# time = []

# for i in range(len(generation)):
#     department.append(timetable[i].getDept().getName())
#     course.append(timetable[i].getCourse().getName())
#     instructor.append(timetable[i].getInstructor().getName())
#     room.append(timetable[i].getRoom().getName())
#     day.append(timetable[i].getMeetingTime().getDay())
#     time.append(timetable[i].getMeetingTime().getTime())

# generation_data = {'Department': department,
#                   'Course': course,
#                   'Instructor': instructor,
#                   'Room': room,
#                   'Day': day,
#                   'Shift': time}

# timetable_df = pd.DataFrame(data=generation_data)

In [11]:
department = []
course = []
instructor = []
room = []
day = []
time = []

for i in range(len(timetable)):
    department.append(timetable[i].getDept().getName())
    course.append(timetable[i].getCourse().getName())
    instructor.append(timetable[i].getInstructor().getName())
    room.append(timetable[i].getRoom().getName())
    day.append(timetable[i].getMeetingTime().getDay())
    time.append(timetable[i].getMeetingTime().getTime())

timetable_data = {'Department': department,
                  'Course': course,
                  'Instructor': instructor,
                  'Room': room,
                  'Day': day,
                  'Shift': time}

timetable_df = pd.DataFrame(data=timetable_data)
timetable_df.to_csv('./export/Timetable.csv', sep=',', encoding='utf-8')
timetable_df

   Department             Course   Instructor    Room  Day  Shift
0         ART  Practical Anotomy      Hao Nam  H3.301  MON    1-3
1          PE       Table Tennis      Hao Nam  H3.200  MON    7-9
2        MATH          Caculus 2     Thien Ha  H1.201  MON  13-15
3          IT       Mordem Art 1   Pham Trung  H2.200  MON  13-15
4         ART       Mordem Art 2     Thanh Tu  H3.200  MON  13-15
5        MATH          English 1   Ngan Giang  H2.200  TUE    7-9
6          IT             Python  Thao Nguyen  H2.100  WED    4-6
7    LANGUAGE            Chinese     Thu Thuy  H3.301  WED  10-12
8          PE          Badminton      Hao Nam  H3.301  THU    7-9
9          IT                Web  Thao Nguyen  H3.100  FRI    7-9
10         IT               Java  Thao Nguyen  H2.201  FRI  10-12
11   LANGUAGE          English 2    Thuy Hang  H3.100  SAT    4-6
12   LANGUAGE                C++     Cong Son  H3.301  SAT    4-6
13        ART       Table Tennis     So Khanh  H2.200  SAT    7-9
14         PE  Practical Anotomy      Hao Nam  H3.300  SAT  10-12

In [13]:
timetable_df.set_index('Shift')

      Department             Course   Instructor    Room  Day
Shift
1-3          ART  Practical Anotomy      Hao Nam  H3.301  MON
7-9           PE       Table Tennis      Hao Nam  H3.200  MON
13-15       MATH          Caculus 2     Thien Ha  H1.201  MON
13-15         IT       Mordem Art 1   Pham Trung  H2.200  MON
13-15        ART       Mordem Art 2     Thanh Tu  H3.200  MON
7-9         MATH          English 1   Ngan Giang  H2.200  TUE
4-6           IT             Python  Thao Nguyen  H2.100  WED
10-12   LANGUAGE            Chinese     Thu Thuy  H3.301  WED
7-9           PE          Badminton      Hao Nam  H3.301  THU
7-9           IT                Web  Thao Nguyen  H3.100  FRI
10-12         IT               Java  Thao Nguyen  H2.201  FRI
4-6     LANGUAGE          English 2    Thuy Hang  H3.100  SAT
4-6     LANGUAGE                C++     Cong Son  H3.301  SAT
7-9          ART       Table Tennis     So Khanh  H2.200  SAT
10-12         PE  Practical Anotomy      Hao Nam  H3.300  SAT

In [15]:
department = []
course = []
instructor = []
room = []
day = []
time = []

for i in range(len(timetable)):
    department.append(timetable[i].getDept().getName())
    course.append(timetable[i].getCourse().getName())
    instructor.append(timetable[i].getInstructor().getName())
    room.append(timetable[i].getRoom().getName())
    day.append(timetable[i].getMeetingTime().getDay())
    time.append(timetable[i].getMeetingTime().getTime())

timetable_data = {'Department': department,
                  'Course': course,
                  'Instructor': instructor,
                  'Room': room,
                  'Day': day,
                  'Shift': time}

data
index = []


timetable_df = pd.DataFrame(data=timetable_data)
timetable_df.to_csv('./export/Timetable.csv', sep=',', encoding='utf-8')
timetable_df

   Department             Course   Instructor    Room  Day  Shift
0         ART  Practical Anotomy      Hao Nam  H3.302  MON  10-12
1          IT               Java  Thao Nguyen  H3.301  TUE    1-3
2    LANGUAGE                C++     Hanh Van  H3.300  TUE    4-6
3          IT             Python  Thao Nguyen  H2.103  TUE    4-6
4         ART       Table Tennis     So Khanh  H2.200  TUE    4-6
5          PE       Table Tennis      Hao Nam  H3.301  TUE    7-9
6    LANGUAGE          English 2     Thu Thuy  H2.200  TUE  10-12
7        MATH          English 1   Ngan Giang  H2.103  WED    1-3
8    LANGUAGE            Chinese   Ngan Giang  H3.300  WED    7-9
9          IT                Web     Hanh Van  H3.302  WED    7-9
10         PE          Badminton     So Khanh  H2.100  WED  13-15
11       MATH          Caculus 2     Thien Ha  H3.302  THU    1-3
12        ART       Mordem Art 2     Thanh Tu  H2.101  FRI    4-6
13         PE  Practical Anotomy      Hao Nam  H3.300  FRI  10-12
14         IT       Mordem Art 1   Pham Trung  H3.200  SAT  13-15