In [2]:
import pandas as pd
from FindSolution import FindSolution
from Data import Data
from ClassScheduleDT import *

In [3]:
data = Data('./data/Room.csv', './data/MeetingTime.csv',
        './data/Instructor.csv', './data/Department.csv',
        './data/Course.csv')

# data = Data('./data2/Room.csv', './data2/MeetingTime.csv',
#         './data2/Instructor.csv', './data2/Department.csv',
#         './data2/Course.csv')

In [4]:
POPULATION_SIZE = 9
NUMBER_OF_ELITE_SCHEDULES = 1
TOURNAMENT_SELECTION_SIZE = 3
MUTATION_RATE = 0.1

find_solution = FindSolution(data,
                            POPULATION_SIZE, NUMBER_OF_ELITE_SCHEDULES,
                            TOURNAMENT_SELECTION_SIZE, MUTATION_RATE)

timetable = find_solution.getTimeTable()
generation = find_solution.getGeneration()

Generation: 1 Fitness: 0.3333333333333333
Generation: 2 Fitness: 0.3333333333333333
Generation: 3 Fitness: 0.3333333333333333
Generation: 4 Fitness: 0.5
Generation: 5 Fitness: 0.5
Generation: 6 Fitness: 0.5
Generation: 7 Fitness: 0.5
Generation: 8 Fitness: 1.0

In [19]:
generation[0][0].get

In [5]:
department = []
course = []
instructor = []
room = []
day = []
time = []

for i in range(len(generation)):
    department.append(timetable[i].getDept().getName())
    course.append(timetable[i].getCourse().getName())
    instructor.append(timetable[i].getInstructor().getName())
    room.append(timetable[i].getRoom().getName())
    day.append(timetable[i].getMeetingTime().getDay())
    time.append(timetable[i].getMeetingTime().getTime())

generation_data = {'Department': department,
                  'Course': course,
                  'Instructor': instructor,
                  'Room': room,
                  'Day': day,
                  'Shift': time}

timetable_df = pd.DataFrame(data=generation_data)

In [7]:
department = []
course = []
instructor = []
room = []
day = []
time = []

for i in range(len(timetable)):
    department.append(timetable[i].getDept().getName())
    course.append(timetable[i].getCourse().getName())
    instructor.append(timetable[i].getInstructor().getName())
    room.append(timetable[i].getRoom().getName())
    day.append(timetable[i].getMeetingTime().getDay())
    time.append(timetable[i].getMeetingTime().getTime())

timetable_data = {'Department': department,
                  'Course': course,
                  'Instructor': instructor,
                  'Room': room,
                  'Day': day,
                  'Shift': time}

timetable_df = pd.DataFrame(data=timetable_data)
timetable_df.to_csv('./export/Timetable.csv', sep=',', encoding='utf-8')
timetable_df

   Department             Course   Instructor    Room  Day  Shift
0    LANGUAGE          English 2    Thuy Hang  H2.102  MON    4-6
1          IT       Mordem Art 1   Pham Trung  H1.102  MON  10-12
2         ART       Table Tennis     So Khanh  H2.103  MON  10-12
3         ART       Mordem Art 2     Thanh Tu  H2.100  TUE    1-3
4          IT               Java  Thao Nguyen  H3.100  WED    1-3
5        MATH          English 1   Ngan Giang  H3.200  WED  10-12
6    LANGUAGE            Chinese   Ngan Giang  H1.101  WED  13-15
7          IT             Python  Thao Nguyen  H3.200  WED  13-15
8          PE          Badminton     So Khanh  H2.101  THU    1-3
9          IT                Web     Hanh Van  H2.201  THU    7-9
10         PE       Table Tennis      Hao Nam  H2.102  THU  13-15
11       MATH          Caculus 2     Thien Ha  H3.300  FRI  10-12
12   LANGUAGE                C++     Hanh Van  H3.302  SAT    4-6
13         PE  Practical Anotomy      Hao Nam  H3.100  SAT    7-9
14        ART  Practical Anotomy      Hao Nam  H3.100  SAT  10-12

In [8]:
timetable_df

   Department             Course   Instructor    Room  Day  Shift
0    LANGUAGE          English 2    Thuy Hang  H2.102  MON    4-6
1          IT       Mordem Art 1   Pham Trung  H1.102  MON  10-12
2         ART       Table Tennis     So Khanh  H2.103  MON  10-12
3         ART       Mordem Art 2     Thanh Tu  H2.100  TUE    1-3
4          IT               Java  Thao Nguyen  H3.100  WED    1-3
5        MATH          English 1   Ngan Giang  H3.200  WED  10-12
6    LANGUAGE            Chinese   Ngan Giang  H1.101  WED  13-15
7          IT             Python  Thao Nguyen  H3.200  WED  13-15
8          PE          Badminton     So Khanh  H2.101  THU    1-3
9          IT                Web     Hanh Van  H2.201  THU    7-9
10         PE       Table Tennis      Hao Nam  H2.102  THU  13-15
11       MATH          Caculus 2     Thien Ha  H3.300  FRI  10-12
12   LANGUAGE                C++     Hanh Van  H3.302  SAT    4-6
13         PE  Practical Anotomy      Hao Nam  H3.100  SAT    7-9
14        ART  Practical Anotomy      Hao Nam  H3.100  SAT  10-12

In [29]:
DAY = ['MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT', 'SUN']
TIME = ['1-3', '4-6','7-9','10-12','13-15']
for k in range(0, 15):
    for i in range(len(DAY)):
        for j in range(len(TIME)):
            if (timetable_df.iloc[k]['Day'] == DAY[i] and timetable_df.iloc[k]['Shift'] == TIME[j]):
                print(0)
            else:
                print('*')
        print("END")
# timetable_df.iloc[0]['Day']

*
0
*
*
*
END
*
*
*
*
*
END
*
*
*
*
MON 4-6
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
0
*
END
*
*
*
*
*
END
*
*
*
*
MON 10-12
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
0
*
END
*
*
*
*
*
END
*
*
*
*
MON 10-12
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
0
*
*
*
*
END
*
*
*
*
TUE 1-3
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
0
*
*
*
WED 1-3
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
0
WED 10-12
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
WED 13-15
0
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
WED 13-15
0
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
THU 1-3
*
END
0
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
THU 7-9
*
END
*
*
0
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
THU 13-15
*
END
*
*
*
*
0
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
FRI 10-12
*
END
*
*
*
*
*
END
*
*
*
0
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
SAT 4-6
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
0
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
SAT 7-9
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
0
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
*
SAT 10-12
*
END
*
*
*
*
*
END
*
*
*
*
*
END
*
*
*
0
*
END
*
*
*
*
*
END