In [1]:
import pandas as pd
from FindSolution import FindSolution
from Data import Data
from ClassScheduleDT import *

In [2]:
data = Data('./data/Room.csv', './data/MeetingTime.csv',
        './data/Instructor.csv', './data/Department.csv',
        './data/Course.csv')

# data = Data('./data2/Room.csv', './data2/MeetingTime.csv',
#         './data2/Instructor.csv', './data2/Department.csv',
#         './data2/Course.csv')

In [3]:
POPULATION_SIZE = 9
NUMBER_OF_ELITE_SCHEDULES = 1
TOURNAMENT_SELECTION_SIZE = 3
MUTATION_RATE = 0.1

find_solution = FindSolution(data,
                            POPULATION_SIZE, NUMBER_OF_ELITE_SCHEDULES,
                            TOURNAMENT_SELECTION_SIZE, MUTATION_RATE)

timetable = find_solution.getTimeTable()
generation = find_solution.getGeneration()

Generation: 1 Fitness: 0.3333333333333333
Generation: 2 Fitness: 0.3333333333333333
Generation: 3 Fitness: 0.5
Generation: 4 Fitness: 0.5
Generation: 5 Fitness: 0.5
Generation: 6 Fitness: 0.5
Generation: 7 Fitness: 0.5
Generation: 8 Fitness: 0.5
Generation: 9 Fitness: 0.5
Generation: 10 Fitness: 0.5
Generation: 11 Fitness: 0.5
Generation: 12 Fitness: 0.5
Generation: 13 Fitness: 1.0

In [5]:
department = []
course = []
instructor = []
room = []
day = []
time = []

for i in range(len(generation)):
    department.append(timetable[i].getDept().getName())
    course.append(timetable[i].getCourse().getName())
    instructor.append(timetable[i].getInstructor().getName())
    room.append(timetable[i].getRoom().getName())
    day.append(timetable[i].getMeetingTime().getDay())
    time.append(timetable[i].getMeetingTime().getTime())

generation_data = {'Department': department,
                  'Course': course,
                  'Instructor': instructor,
                  'Room': room,
                  'Day': day,
                  'Shift': time}

timetable_df = pd.DataFrame(data=generation_data)

In [44]:
department = []
course = []
instructor = []
room = []
day = []
time = []

for i in range(len(timetable)):
    department.append(timetable[i].getDept().getName())
    course.append(timetable[i].getCourse().getName())
    instructor.append(timetable[i].getInstructor().getName())
    room.append(timetable[i].getRoom().getName())
    day.append(timetable[i].getMeetingTime().getDay())
    time.append(timetable[i].getMeetingTime().getTime())

timetable_data = { 'Shift': time,
                    'Day': day,
                    'Room': room,
                    'Course': course,
                    'Instructor': instructor,
                    'Department': department
                }

timetable_df = pd.DataFrame(data=timetable_data)
timetable_df.to_csv('./export/Timetable.csv', sep=',', encoding='utf-8')
timetable_df

    Shift  Day    Room             Course   Instructor Department
0     1-3  MON  H1.103       Mordem Art 1     Thanh Tu         IT
1     1-3  MON  H1.201          Badminton     So Khanh         PE
2   13-15  MON  H2.101               Java  Thao Nguyen         IT
3     1-3  TUE  H1.201            Chinese   Ngan Giang   LANGUAGE
4     4-6  TUE  H2.103       Table Tennis     So Khanh        ART
5     7-9  TUE  H3.300          English 1   Ngan Giang       MATH
6   10-12  TUE  H3.302  Practical Anotomy      Hao Nam         PE
7     7-9  WED  H3.300                C++     Cong Son   LANGUAGE
8   10-12  WED  H2.101          English 2     Thu Thuy   LANGUAGE
9     7-9  THU  H3.200  Practical Anotomy      Hao Nam        ART
10    1-3  FRI  H1.103                Web  Thao Nguyen         IT
11    4-6  FRI  H3.100       Mordem Art 2     Thanh Tu        ART
12    7-9  FRI  H3.100          Caculus 2     Thien Ha       MATH
13  13-15  FRI  H3.301       Table Tennis      Hao Nam         PE
14  13-15  SAT  H3.200             Python  Thao Nguyen         IT

In [56]:
test_read =  pd.read_csv('./export/Timetable.csv')
test_read = test_read.iloc[: , 1:]
test_read.values

array([['1-3', 'MON', 'H1.103', 'Mordem Art 1', 'Thanh Tu', 'IT'],
       ['1-3', 'MON', 'H1.201', 'Badminton', 'So Khanh', 'PE'],
       ['13-15', 'MON', 'H2.101', 'Java', 'Thao Nguyen', 'IT'],
       ['1-3', 'TUE', 'H1.201', 'Chinese', 'Ngan Giang', 'LANGUAGE'],
       ['4-6', 'TUE', 'H2.103', 'Table Tennis', 'So Khanh', 'ART'],
       ['7-9', 'TUE', 'H3.300', 'English 1', 'Ngan Giang', 'MATH'],
       ['10-12', 'TUE', 'H3.302', 'Practical Anotomy', 'Hao Nam', 'PE'],
       ['7-9', 'WED', 'H3.300', 'C++', 'Cong Son', 'LANGUAGE'],
       ['10-12', 'WED', 'H2.101', 'English 2', 'Thu Thuy', 'LANGUAGE'],
       ['7-9', 'THU', 'H3.200', 'Practical Anotomy', 'Hao Nam', 'ART'],
       ['1-3', 'FRI', 'H1.103', 'Web', 'Thao Nguyen', 'IT'],
       ['4-6', 'FRI', 'H3.100', 'Mordem Art 2', 'Thanh Tu', 'ART'],
       ['7-9', 'FRI', 'H3.100', 'Caculus 2', 'Thien Ha', 'MATH'],
       ['13-15', 'FRI', 'H3.301', 'Table Tennis', 'Hao Nam', 'PE'],
       ['13-15', 'SAT', 'H3.200', 'Python', 'Thao Nguyen', 'IT']],
      dtype=object)

In [45]:
timetable_df

    Shift  Day    Room             Course   Instructor Department
0     1-3  MON  H1.103       Mordem Art 1     Thanh Tu         IT
1     1-3  MON  H1.201          Badminton     So Khanh         PE
2   13-15  MON  H2.101               Java  Thao Nguyen         IT
3     1-3  TUE  H1.201            Chinese   Ngan Giang   LANGUAGE
4     4-6  TUE  H2.103       Table Tennis     So Khanh        ART
5     7-9  TUE  H3.300          English 1   Ngan Giang       MATH
6   10-12  TUE  H3.302  Practical Anotomy      Hao Nam         PE
7     7-9  WED  H3.300                C++     Cong Son   LANGUAGE
8   10-12  WED  H2.101          English 2     Thu Thuy   LANGUAGE
9     7-9  THU  H3.200  Practical Anotomy      Hao Nam        ART
10    1-3  FRI  H1.103                Web  Thao Nguyen         IT
11    4-6  FRI  H3.100       Mordem Art 2     Thanh Tu        ART
12    7-9  FRI  H3.100          Caculus 2     Thien Ha       MATH
13  13-15  FRI  H3.301       Table Tennis      Hao Nam         PE
14  13-15  SAT  H3.200             Python  Thao Nguyen         IT

In [46]:
array_time = timetable_df.to_numpy()

In [47]:
array_time

array([['1-3', 'MON', 'H1.103', 'Mordem Art 1', 'Thanh Tu', 'IT'],
       ['1-3', 'MON', 'H1.201', 'Badminton', 'So Khanh', 'PE'],
       ['13-15', 'MON', 'H2.101', 'Java', 'Thao Nguyen', 'IT'],
       ['1-3', 'TUE', 'H1.201', 'Chinese', 'Ngan Giang', 'LANGUAGE'],
       ['4-6', 'TUE', 'H2.103', 'Table Tennis', 'So Khanh', 'ART'],
       ['7-9', 'TUE', 'H3.300', 'English 1', 'Ngan Giang', 'MATH'],
       ['10-12', 'TUE', 'H3.302', 'Practical Anotomy', 'Hao Nam', 'PE'],
       ['7-9', 'WED', 'H3.300', 'C++', 'Cong Son', 'LANGUAGE'],
       ['10-12', 'WED', 'H2.101', 'English 2', 'Thu Thuy', 'LANGUAGE'],
       ['7-9', 'THU', 'H3.200', 'Practical Anotomy', 'Hao Nam', 'ART'],
       ['1-3', 'FRI', 'H1.103', 'Web', 'Thao Nguyen', 'IT'],
       ['4-6', 'FRI', 'H3.100', 'Mordem Art 2', 'Thanh Tu', 'ART'],
       ['7-9', 'FRI', 'H3.100', 'Caculus 2', 'Thien Ha', 'MATH'],
       ['13-15', 'FRI', 'H3.301', 'Table Tennis', 'Hao Nam', 'PE'],
       ['13-15', 'SAT', 'H3.200', 'Python', 'Thao Nguyen', 'IT']],
      dtype=object)