In [1]:
import pandas as pd
from FindSolution import FindSolution
from Data import Data
from ClassScheduleDT import *

In [2]:
data = Data('./data/Room.csv', './data/MeetingTime.csv',
        './data/Instructor.csv', './data/Department.csv',
        './data/Course.csv')

# data = Data('./data2/Room.csv', './data2/MeetingTime.csv',
#         './data2/Instructor.csv', './data2/Department.csv',
#         './data2/Course.csv')

In [3]:
POPULATION_SIZE = 9
NUMBER_OF_ELITE_SCHEDULES = 1
TOURNAMENT_SELECTION_SIZE = 3
MUTATION_RATE = 0.1

find_solution = FindSolution(data,
                            POPULATION_SIZE, NUMBER_OF_ELITE_SCHEDULES,
                            TOURNAMENT_SELECTION_SIZE, MUTATION_RATE)

timetable = find_solution.getTimeTable()
generation = find_solution.getGeneration()

Generation: 1 Fitness: 0.3333333333333333
Generation: 2 Fitness: 0.3333333333333333
Generation: 3 Fitness: 0.3333333333333333
Generation: 4 Fitness: 0.3333333333333333
Generation: 5 Fitness: 0.3333333333333333
Generation: 6 Fitness: 0.3333333333333333
Generation: 7 Fitness: 0.3333333333333333
Generation: 8 Fitness: 0.3333333333333333
Generation: 9 Fitness: 0.3333333333333333
Generation: 10 Fitness: 0.3333333333333333
Generation: 11 Fitness: 0.3333333333333333
Generation: 12 Fitness: 0.3333333333333333
Generation: 13 Fitness: 0.3333333333333333
Generation: 14 Fitness: 0.5
Generation: 15 Fitness: 1.0

In [19]:
generation[0][0].get

In [4]:
department = []
course = []
instructor = []
room = []
day = []
time = []

for i in range(len(generation)):
    department.append(timetable[i].getDept().getName())
    course.append(timetable[i].getCourse().getName())
    instructor.append(timetable[i].getInstructor().getName())
    room.append(timetable[i].getRoom().getName())
    day.append(timetable[i].getMeetingTime().getDay())
    time.append(timetable[i].getMeetingTime().getTime())

generation_data = {'Department': department,
                  'Course': course,
                  'Instructor': instructor,
                  'Room': room,
                  'Day': day,
                  'Shift': time}

timetable_df = pd.DataFrame(data=generation_data)

ART, Practical Anotomy, H3.301, Hao Nam, MON, 4-6
LANGUAGE, English 2, H2.101, Thu Thuy, MON, 10-12
ART, Mordem Art 2, H1.103, Thanh Tu, TUE, 10-12
IT, Python, H1.102, Thao Nguyen, WED, 1-3
PE, Badminton, H3.301, Hao Nam, WED, 7-9
IT, Java, H2.200, Thao Nguyen, WED, 10-12
IT, Web, H1.201, Thao Nguyen, WED, 13-15
PE, Practical Anotomy, H3.200, Hao Nam, THU, 1-3
MATH, Caculus 2, H2.200, Thien Ha, FRI, 1-3
LANGUAGE, Chinese, H3.302, Thu Thuy, FRI, 1-3
MATH, English 1, H3.200, Ngan Giang, FRI, 7-9
IT, Mordem Art 1, H3.100, Thanh Tu, FRI, 10-12
LANGUAGE, C++, H3.302, Hanh Van, SAT, 4-6
ART, Table Tennis, H3.200, So Khanh, SAT, 10-12
PE, Table Tennis, H2.201, So Khanh, SAT, 13-15

In [6]:
department = []
course = []
instructor = []
room = []
day = []
time = []

for i in range(len(timetable)):
    department.append(timetable[i].getDept().getName())
    course.append(timetable[i].getCourse().getName())
    instructor.append(timetable[i].getInstructor().getName())
    room.append(timetable[i].getRoom().getName())
    day.append(timetable[i].getMeetingTime().getDay())
    time.append(timetable[i].getMeetingTime().getTime())

timetable_data = {'Department': department,
                  'Course': course,
                  'Instructor': instructor,
                  'Room': room,
                  'Day': day,
                  'Shift': time}

timetable_df = pd.DataFrame(data=timetable_data)
timetable_df.to_csv('./export/Timetable.csv', sep=',', encoding='utf-8')
timetable_df

   Department             Course   Instructor    Room  Day  Shift
0         ART  Practical Anotomy      Hao Nam  H3.301  MON    4-6
1    LANGUAGE          English 2     Thu Thuy  H2.101  MON  10-12
2         ART       Mordem Art 2     Thanh Tu  H1.103  TUE  10-12
3          IT             Python  Thao Nguyen  H1.102  WED    1-3
4          PE          Badminton      Hao Nam  H3.301  WED    7-9
5          IT               Java  Thao Nguyen  H2.200  WED  10-12
6          IT                Web  Thao Nguyen  H1.201  WED  13-15
7          PE  Practical Anotomy      Hao Nam  H3.200  THU    1-3
8        MATH          Caculus 2     Thien Ha  H2.200  FRI    1-3
9    LANGUAGE            Chinese     Thu Thuy  H3.302  FRI    1-3
10       MATH          English 1   Ngan Giang  H3.200  FRI    7-9
11         IT       Mordem Art 1     Thanh Tu  H3.100  FRI  10-12
12   LANGUAGE                C++     Hanh Van  H3.302  SAT    4-6
13        ART       Table Tennis     So Khanh  H3.200  SAT  10-12
14         PE       Table Tennis     So Khanh  H2.201  SAT  13-15