In [2]:
import pandas as pd
from ClassScheduleDT import *
from Data import Data
from Population import Population
from GeneticAlgorithms import GeneticAlgorithms
from Schedule import Schedule

In [3]:
# pd.read_csv('./data/MeetingTime.csv')

    id  day   time
0    1  MON    1-3
1    2  MON    4-6
2    3  MON    7-9
3    4  MON  10-12
4    5  MON  13-15
5    6  TUE    1-3
6    7  TUE    4-6
7    8  TUE    7-9
8    9  TUE  10-12
9   10  TUE  13-15
10  11  WED    1-3
11  12  WED    4-6
12  13  WED    7-9
13  14  WED  10-12
14  15  WED  13-15
15  16  THU    1-3
16  17  THU    4-6
17  18  THU    7-9
18  19  THU  10-12
19  20  THU  13-15
20  21  FRI    1-3
21  22  FRI    4-6
22  23  FRI    7-9
23  24  FRI  10-12
24  25  FRI  13-15
25  26  SAT    1-3
26  27  SAT    4-6
27  28  SAT    7-9
28  29  SAT  10-12
29  30  SAT  13-15

In [4]:
data = Data('./data/Room.csv', './data/MeetingTime.csv',
            './data/Instructor.csv', './data/Department.csv',
            './data/Course.csv')

AttributeError: 'Date' object has no attribute '_day'